@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}

div {
  padding: 10px;
}

.dot {
  margin-left: 10px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.center {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 10px;
}
